.container { 
    /* display: flex; */
    gap: 15px;
    /* padding: 20px 10px; */
    /* border-bottom: 1px solid rgb(220,220,220); */

    color: black;
    text-decoration: none;
}

.container > .img1 {
     width: 33%;
}

.container > .img2 {
     width: 20%;
}

.title {
    font-weight: bold;
}

.subTitle {
    word-break: keep-all;
}

.author {
    color: gray;
}